$wordleGreen: #538d4e;
$wordleYellow: #b59f3b;

* {
	direction: rtl;
	font-family: 'Rubik';
}

.App {
	background-color: rgb(30, 30, 30);
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 100vh;
}

.navbar {
	z-index: 3;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	background-color: rgb(35, 35, 35);
	color: white;
	height: 4rem;
	border-bottom: solid 1px rgb(200, 200, 200);

	@media screen and (max-height: 720px) {
		height: 2rem;
	}
	.title {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-align: center;
		align-items: center;
		font-size: 1.3rem;
		.title-half {
			color: rgb(183, 177, 158);
		}
		.title-half2 {
			color: rgb(167, 197, 174);
		}
	}

	#icon {
		cursor: pointer;
	}
}

.green-cube {
	background-color: $wordleGreen !important;
	transition: ease-in-out 0.5;
}
.yellow-cube {
	background-color: $wordleYellow !important;
	transition: ease-in-out 0.5;
}


.game {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-content: center;
	justify-content: space-around;
	margin-top: 13vh;
	width: 100%;
	height: 50vh;
}

.cube-grid {
	z-index: 4;
	margin-top: 7vh;
	@media screen and (max-height: 720px) {
		margin-top: 15vh;
	}
	.cube-row {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.text-cube {
			display: flex;
			border: solid gray 2px;
			border-radius: 0.3rem;
			color: white;
			width: 5.5vh;
			height: 5.5vh;
			margin: 0.3rem;
			font-size: 2rem;
			text-align: center;
			justify-content: center;
			align-items: center;
		}
	}
}

.letter-cube-grid {
	color: white;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-content: center;
	justify-content: flex-start;
	margin-top: 2vh;
	width: 100%;
	height: 40vh;
	.green-cube {
		background-color: $wordleGreen !important; //written here again to override the yellow cube's 'important'
		transition: ease-in-out 0.5;
	}
	.letter-row {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.letter-cube {
			cursor: pointer;
			display: flex;
			border: solid gray 2px;
			border-radius: 0.3rem;
			background-color: rgb(150, 150, 150);
			color: white;
			width: 3rem;
			height: 3rem;
			margin-right: 0.3rem;
			justify-content: center;
			align-items: center;
			text-align: center;
			&:hover {
				transition: ease-in-out 0.3s;
				background-color: rgb(170, 170, 170);
			}

		}
		.enter,
		.backspace {
			width: 7vh;
		}
		.blacken{
			background-color: rgb(70, 70, 70);
			transition: ease-in-out 0.5s;
		}
	}
}

.zoom {
	-webkit-animation: zoom .2s;
	animation: zoom .2s;
	border: solid lightgray 3px;
}

.revealing {
	border: solid lightgray 2px !important;
	background-color: #3a3a3c;
    animation: flipInX; /* referring directly to the animation's @keyframe declaration */
  	animation-duration: 1s;
}

.win-animation {
	animation: pulse;
	animation-duration: 1s;
}

.not-exist-animation{
	animation: flash;
	animation-duration: 0.75s;
}

.Float{
	position: absolute;
	z-index: 5;
	color: white;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(25, 25, 25, 0.95);
	backdrop-filter: blur(3px);
	width: 100%;
	height: 100vh;
	top: 0;
	h1{
		color: $wordleGreen;
	}
	hr{
		width: 20%;
		border: 1px solid rgba(255, 255, 255, 0.25);
	}
	.cube-row{
		display: flex;
		flex-direction: row;
		margin: 0.75rem;
		.text-cube {
			display: flex;
			border: solid gray 2px;
			border-radius: 0.3rem;
			color: white;
			width: 5.5vh;
			height: 5.5vh;
			margin: 0.3rem;
			font-size: 2rem;
			text-align: center;
			justify-content: center;
			align-items: center;
		}
	}
}

.hidden{
	display: none;
}

.result-button{
    align-self: center;
    width: 15%;
    height: 26px;
    z-index: 5;
    background-color: $wordleGreen;
    bottom: 42vh;
    position: absolute;
	color:white;
	border-radius: 0.5rem;
	@media screen and (max-height: 1079px){
		font-size: 0.6rem;
		bottom: 42.5vh;
	}
}