$wordleGreen: #538d4e;
$wordleYellow: #b59f3b;

* {
	direction: rtl;
	font-family: 'Rubik';
}

.App {
	background-color: rgb(30, 30, 30);
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 100vh;
}

.navbar {
	z-index: 3;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	background-color: rgb(35, 35, 35);
	color: white;
	height: 4rem;
	border-bottom: solid 1px rgb(200, 200, 200);
	.title {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-align: center;
		align-items: center;
		font-size: 1.3rem;
		.title-half {
			color: rgb(183, 177, 158);
		}
		.title-half2 {
			color: rgb(167, 197, 174);
		}
	}

	#icon {
		cursor: pointer;
	}
}

.game {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-content: center;
	justify-content: space-around;
	margin-top: 13vh;
	width: 50%;
	height: 50vh;
}

.cube-grid {
	margin-top: 4vh;
	.cube-row {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.text-cube {
			display: flex;
			border: solid gray 2px;
			border-radius: 0.3rem;
			color: white;
			width: 7vh;
			height: 7vh;
			margin: 0.3rem;
			font-size: 2.5rem;
			text-align: center;
			justify-content: center;
			align-items: center;
		}

		.green-cube {
			background-color: $wordleGreen !important;
		}
		.yellow-cube {
			background-color: $wordleYellow !important;
		}
	}
}

.letter-cube-grid {
	color: white;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-content: center;
	justify-content: flex-start;
	margin-top: 2vh;
	width: 70%;
	height: 40vh;

	.letter-row {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.letter-cube {
			cursor: pointer;
			display: flex;
			border: solid gray 2px;
			border-radius: 0.3rem;
			background-color: rgb(150, 150, 150);
			color: white;
			width: 50px;
			height: 50px;
			margin-right: 0.3rem;
			justify-content: center;
			align-items: center;
			text-align: center;
			&:hover {
				transition: ease-in-out 0.3s;
				background-color: rgb(170, 170, 170);
			}
		}
		.enter,
		.backspace {
			width: 7vh;
		}
	}
}

.blacken{
	background-color: rgb(70, 70, 70) !important;
	transition: ease-in-out 0.5s;
}

.zoom {
	-webkit-animation: zoom .2s;
	animation: zoom .2s;
	border: solid lightgray 3px;
}

.revealing {
	border: solid lightgray 2px !important;
	background-color: #3a3a3c;
    animation: flipInX; /* referring directly to the animation's @keyframe declaration */
  	animation-duration: 1s;
}

.win-animation {
	animation: pulse;
	animation-duration: 1s;
}