* {
  direction: rtl;
  font-family: 'Rubik';
}

.App {
  background-color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
}

.navbar {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232323;
  color: white;
  height: 4rem;
  border-bottom: solid 1px #c8c8c8;
}

@media screen and (max-height: 720px) {
  .navbar {
    height: 2rem;
  }
}

.navbar .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

.navbar .title .title-half {
  color: #b7b19e;
}

.navbar .title .title-half2 {
  color: #a7c5ae;
}

.navbar #icon {
  cursor: pointer;
}

.green-cube {
  background-color: #538d4e !important;
  -webkit-transition: ease-in-out 0.5;
  transition: ease-in-out 0.5;
}

.yellow-cube {
  background-color: #b59f3b !important;
  -webkit-transition: ease-in-out 0.5;
  transition: ease-in-out 0.5;
}

.game {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 13vh;
  width: 100%;
  height: 50vh;
}

.cube-grid {
  z-index: 4;
  margin-top: 7vh;
}

@media screen and (max-height: 720px) {
  .cube-grid {
    margin-top: 15vh;
  }
}

.cube-grid .cube-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cube-grid .cube-row .text-cube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid gray 2px;
  border-radius: 0.3rem;
  color: white;
  width: 5.5vh;
  height: 5.5vh;
  margin: 0.3rem;
  font-size: 2rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.letter-cube-grid {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 2vh;
  width: 100%;
  height: 40vh;
}

.letter-cube-grid .green-cube {
  background-color: #538d4e !important;
  -webkit-transition: ease-in-out 0.5;
  transition: ease-in-out 0.5;
}

.letter-cube-grid .letter-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.letter-cube-grid .letter-row .letter-cube {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid gray 2px;
  border-radius: 0.3rem;
  background-color: #969696;
  color: white;
  width: 3rem;
  height: 3rem;
  margin-right: 0.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.letter-cube-grid .letter-row .letter-cube:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  background-color: #aaaaaa;
}

.letter-cube-grid .letter-row .enter,
.letter-cube-grid .letter-row .backspace {
  width: 7vh;
}

.letter-cube-grid .letter-row .blacken {
  background-color: #464646;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.zoom {
  -webkit-animation: zoom .2s;
  animation: zoom .2s;
  border: solid lightgray 3px;
}

.revealing {
  border: solid lightgray 2px !important;
  background-color: #3a3a3c;
  -webkit-animation: flipInX;
          animation: flipInX;
  /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.win-animation {
  -webkit-animation: pulse;
          animation: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.not-exist-animation {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

.Float {
  z-index: 5;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(25, 25, 25, 0.7);
  width: 100%;
  height: 100vh;
}

.hidden {
  display: none;
}

.result-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 15%;
  height: 26px;
  z-index: 5;
  background-color: #538d4e;
  bottom: 42vh;
  position: absolute;
  color: white;
}

@media screen and (max-height: 1079px) {
  .result-button {
    font-size: 0.6rem;
    bottom: 42.5vh;
  }
}
/*# sourceMappingURL=App.css.map */