* {
	direction: rtl;
}

.App {
  background-color: rgb(25, 25, 25);
	display: flex;
	flex-direction: column;
	align-content: center;
  height: 100vh;
}

.navbar {
	z-index: 3;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	background-color: rgb(30, 30, 30);
	color: white;
	height: 4rem;
  border-bottom: solid 1px rgb(200, 200, 200);
	.title {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-align: center;
		align-items: center;
    font-size: 1.3rem;
    .title-half{
      color: rgb(174, 179, 174);
    }
    .title-half2{
      color: rgb(167, 197, 174);
    }
	}

	#icon {
		cursor: pointer;
	}
}

.game {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-content: center;
	justify-content: space-around;
	margin-top: 13vh;
	width: 50%;
	height: 50vh;
}

.cube-grid {
	margin-top: 4vh;
	.cube-row {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.text-cube {
			border: solid gray 2px;
			border-radius: 0.3rem;
			color: white;
			width: 7vh;
			height: 7vh;
			margin: 0.3rem;
		}

    .green-cube{
      background-color: rgb(0, 128, 0);
    }
    .yellow-cube{
      background-color: rgb(255, 230, 0);
    }
	}
}

.letter-cube-grid {
	color: white;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-content: center;
	justify-content: flex-start;
	margin-top: 3vh;
	width: 70%;
	height: 40vh;

	.letter-row {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.letter-cube {
      cursor: pointer;
			display: flex;
			border: solid gray 2px;
			border-radius: 0.3rem;
      background-color: rgb(187, 186, 186);
			color: white;
			width: 5vh;
			height: 5vh;
			margin-right: 0.5rem;
			justify-content: center;
      align-items: center;
			text-align: center;
      &:hover{
        transition: ease-in-out 0.3s;
        background-color: rgb(170, 170, 170);
      }
		}
    .enter, .backspace {
      width: 7vh;
    }
	}
}
